/*----------------------------
      Navbar & Header
-----------------------------*/
.header {
    position: relative;
    z-index: 1000;
}
@media (max-width: 998px) {
    .botao-resultados{
        margin-right: 15px;
    }
}

.logo-dark{
    max-width: 150px;
}

/* Navbar */
.navbar {
    padding: 0;
    height: 100px;
    max-height: 100px;
    background-color: $color-white;

    >.container,
    >.container-fluid {
        position: relative;
        height: 100px;
    }

    .navbar-brand {
        padding: 0;
        margin: 0;
        line-height: 100px;
    }

    .logo-light {
        display: none;
    }

    .navbar-toggler {
        padding: 0;
        border: none;
        border-radius: 0;
        width: 23px;
        position: relative;

        .menu-lines {
            display: inline-block;

            &:before{
                content: '';
                position: absolute;
                left: 0;
                width: 23px;
                height: 2px;
                display: inline-block;
                background-color: $color-secondary;
                @include prefix(transition, 0.3s ease, webkit moz ms o);
            }
            &:after {
                content: '';
                position: absolute;
                left: 0;
                width: 23px;
                height: 2px;
                display: inline-block;
                background-color: $color-secondary;
                @include prefix(transition, 0.3s ease, webkit moz ms o);
            }

            &:before {
                top: -1px;
            }

            &:after {
                top: 12px;
            }

            span {
                position: absolute;
                top: 6px;
                left: 0;
                width: 18px;
                height: 1px;
                background-color: $color-secondary;
            }
        }

    }

    .navbar-toggler.actived .menu-lines>span {
        opacity: 0;
    }

    .navbar-toggler.actived .menu-lines:before {
        top: 0;
        @include prefix(transform, rotate(-45deg), webkit moz ms o);
    }

    .navbar-toggler.actived .menu-lines:after {
        top: 0;
        @include prefix(transform, rotate(45deg), webkit moz ms o);
    }

    .nav__item {
        position: relative;
        margin-right: 29px;

        &:last-child {
            margin-right: 0;
        }

        .nav__item-link {
            font-size: 15px;
            font-weight: 700;
            text-transform: capitalize;
            display: block;
            position: relative;
            color: $color-secondary;
            line-height: 100px;
            letter-spacing: .4px;
            padding-right: 15px;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $color-primary;
                @include prefix(transition, 0.5s ease, webkit moz ms o);
            }

            &.active,
            &:hover {
                color: $color-primary;

                &:before,
                &:before {
                    width: 100%;
                }
            }
        }
    }

    .dropdown-toggle:after {
        content: "\f107";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        border: none;
        vertical-align: middle;
        margin-left: 0;
        position: absolute;
        top: 50%;
        right: 0;
        @include prefix(transform, translateY(-50%), webkit moz ms o);
    }
    .contato_topo {
        display: inline-flex;
        align-items: center;
        font-family: $font-heading;
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
        color: #1A274A !important;
    
        &:hover {
            color: $color-primary !important;
        }
    
        i {
            margin-right: 7px;
        }
    }
}

/* navbar-actions */
.navbar-actions>li {
    margin-left: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.action__btn {
    color: $color-secondary;
}

.header-layout2 {
    box-shadow: 0px 5px 83px 0px rgba(9, 29, 62, 0.1);
}

/* sticky-navbar */
.is-sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1040;
    border-bottom: 0 !important;
    height: 80px !important;
    max-height: 80px !important;
    background-color: $color-white !important;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
    @include animation('translateHeader 0.8s');

    >.container,
    >.container-fluid {
        position: relative;
        height: 80px;
    }

    .navbar-brand {
        line-height: 80px;
    }

    .header__top-right {
        display: none !important;
    }

    .nav__item .nav__item-link {
        color: $color-secondary;
        line-height: 80px !important;

        &:before {
            background-color: $color-primary !important;
        }
    }

    .logo-light {
        display: none;
    }

    .logo-dark {
        display: inline-block;
        max-width: 150px;
    }

    .navbar-nav {
        margin-top: 0 !important;
    }
}

@media screen and (min-width: 991px) and (max-width: 1366px){
    .navbar .navbar-brand{
        margin-right: 30px;
    }
    .navbar .nav__item{
        margin-right: 17px;
    }
}

@media (max-width: 1600px) {
    #separador_resultado{
        display: none;
    }
}

.lista_contato{
    max-width: 205px;
}

@media screen and (min-width: 1237px) and (max-width: 1400px) {
    .contato_topo{
        font-size: 13px !important;
    }
    .lista_contato{
        max-width: 141px;
    }
}

@media (max-width: 1230px) {
    .lista_contato{
        display: none;
    }
}

@media (max-width: 1600px) {
    #separador_resultado{
        display: none;
    }
}


@media (min-width: 1200px) {
    .navbar .navbar-brand{
        margin-right: 30px;
    }

    .separador{
        height: 30px;
        border-right: 2px solid #e6e8eb;
        margin-right: 30px;
    }

    #separador_resultado{
        margin-right: 0px;
    }

    .navbar {
        >.container-fluid {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    }

/* Large Size Screens */
@include lg-screens {
    .navbar .nav__item {
        margin-right: 20px;
    }
}

/* Mobile and Tablets */
@media (max-width: 1055px) {
    .navbar {
        .navbar-toggler {
            position: absolute;
            right: 200px;
            height: 13px;
        }

        .collapse:not(.show) {
            display: block;
        }

        .navbar-nav {
            margin: 0 !important;
        }

        .nav__item {
            margin-right: 0;

            .nav__item-link {
                color: $color-dark;
                line-height: 35px !important;
                padding-left: 15px;

                &:hover {
                    color: $color-primary;
                }

                &:before {
                    display: none;
                }
            }
        }

        .navbar-collapse {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 1000;
            padding: 0;
            @include prefix(transition, 0.4s ease, webkit moz ms o);

            .navbar-nav {
                opacity: 0;
                width: 240px;
                height: 100%;
                overflow-y: auto;
                padding: 50px 0 20px;
                background-color: $color-white;
                @include prefix(transform, translateX(-100%), webkit moz ms o);
                @include prefix(transition, 0.3s ease, webkit moz ms o);
                @include prefix(transition-delay, 0.4s, webkit moz ms o);
            }

            &.menu-opened {
                opacity: 1;
                visibility: visible;

                .navbar-nav {
                    opacity: 1;
                    @include prefix(transform, translateX(0), webkit moz ms o);
                }

                .close-mobile-menu {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }

        .close-mobile-menu {
            position: absolute;
            top: 30px;
            right: 30px;
            z-index: 1100;
            width: 35px;
            height: 35px;
            line-height: 33px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #fff;
            color: #fff;
            cursor: pointer;
            opacity: 0;
            transform: scale(0.8);
            transition: all 0.4s ease;
            transition-delay: 0.5s;
        } 

    }

    .header,
    .header-transparent {
        .navbar {
            background-color: $color-white;
        }

        .logo-dark {
            display: inline-block;
        }

        .logo-light {
            display: none;
        }

        .module__btn {
            color: $color-secondary;
            margin: 0 60px 0 0;
        }

        .navbar .navbar-toggler .menu-lines:before,
        .navbar .navbar-toggler .menu-lines:after,
        .navbar .navbar-toggler .menu-lines span {
            background-color: $color-secondary;
        }

        .navbar-expand-lg>.container,
        .navbar-expand-lg>.container-fluid {
            width: 100%;
            max-width: none;
        }

        .navbar,
        .navbar>.container,
        .navbar>.container-fluid {
            height: 80px;
        }

        .header-full .navbar,
        .header-full .navbar .navbar-brand,
        .navbar-brand {
            margin-left: 15px;
            line-height: 80px !important;
        }

        .header-full .navbar,
        .header-full .navbar .navbar-brand {
            line-height: 80px;
        }
    }

    .lang-dropdown .lang-dropdown-toggle,
    .header-transparent .action__btn {
        color: $color-secondary;
    }

    .action__btn-search {
        position: absolute;
        top: 50%;
        right: 80px;
        transform: translateY(-50%);
    }
}

@media (max-width: 420px) {
    .header {
        .navbar-brand img {
            max-width: 120px;
        }
    }
}

@media (max-width: 1300px){

}

/* Header Animation */
@include keyframes(translateHeader) {
    0% {
        opacity: 0;
        @include prefix(transform, translateY(-100%), webkit moz ms o);
    }

    100% {
        opacity: 1;
        @include prefix(transform, translateY(0), webkit moz ms o);
    }
}