/*--------------------------
    Project Name: Hemolab
    Version: 1.0
    Author: Leonardo Sobral
    Relase Date: 2023
---------------------------*/

/*-------------------------- 
      Global Styles
---------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $color-white;
    font-family: $font-body;
    font-size: $body-font-size;
    color: $color-body;
    overflow-x: hidden;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}

a {
    color: $color-primary;
    @include prefix(transition, color .3s ease, webkit moz ms o);

    &:hover {
        color: $color-secondary;
        text-decoration: none;
    }
}

section {
    position: relative;
    padding-top: 110px;
    padding-bottom: 110px;
}

img {
    max-width: 100%;
}

/*-------------------------
     RESET Default Styles
 --------------------------*/
* {
    outline: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
}

select {
    background-color: transparent;
}

button,
button:focus,
.form-control,
.form-control:focus {
    outline: none;
    @include prefix(box-shadow, none, webkit moz ms o);
}

textarea {
    resize: none
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1024px) and (max-width: 1300px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {

    html,
    body {
        overflow-x: hidden;
    }
}